.settings
.idea
gen
bin
out
target
gen-external-apklibs
/.classpath
/.project
/.idea
taobao_develop.iml
taobao_android_tao.iml
taobao_android.iml
classes
project.properties
*.imljar-libs
libs/*.jar
libs/*.awb
libs/*.aar
unpacked-aar
dependencies.txt
jar-libs
*.iml
project.properties
lint.xml
build
captures
.gradle
local.properties
*.tmp
mtop_info_summary.txt
.awo
.incremental_builder

incrementalClean.sh
incrementalDeploy.sh
incrementalDeployAssemble.sh
incrementalDeployContinuous.sh
incrementalDeployOld.sh
incrementalDeployOnline.sh
incrementalInstall.sh
incremental_settings.gradle
incrementalbuild.gradle

incremental*.gradle
incremental*.sh
*/.DS_Store
.DS_Store

#local build
/local_build/
module_build.sh
Configure
